



/*about*/

.well {
    background-color: unset;
    border-radius: unset;
    box-shadow: unset;
}

#about2 .well img{
    display: none;
}

@media (max-width: 991px){

    #about2 .col-md-4 {
        display: none;
    }

}

@media (min-width: 992px){

    #about2 .well img{
        display: initial;
    }

}